
body {
    margin: 0 auto;
}

.main-content{
    padding-left: 0;

    .active {
        padding-left: 256px;
    }
}

.main-content .active {
    padding-left: 256;
}

.menu-container {
    a {
        text-decoration: none;
    }
}

.footer {
    text-align: center;
    color: #DDD
}
